.comments{
    /* overflow-y-scroll max-h-[50vh] */

    overflow-y: scroll;
    max-height: 40vh;
    white-space: normal; /* Cho phép xuống dòng */
    word-wrap: break-word; /* Tự động xuống dòng khi quá dài */
    overflow: visible;
    word-break: break-word; /* Thêm dòng này để tự xuống dòng khi không có dấu cách */

}

.comment-content {
  max-width: 80%;
  word-break: break-word;
  white-space: pre-wrap;
}

.comments::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .commentInput{
   
    border: none;
    outline: none;
    padding: 5px;
  }